In [3]:
from langchain_community.utilities import SQLDatabase

host = "localhost"
user = "postgres"
password = "password"
port = "5432"
database = "dvd_rental"
# postgresql://[user[:password]@][netloc][:port][/dbname][?param1=value1&...]
# postgresql://myuser:mypassword@localhost:5432/mydatabase

os.environ["OPENAI_API_KEY"] = 
db = SQLDatabase.from_uri(f"postgresql://{user}:{password}@{host}:{port}/{database}")
print(db.dialect)
print(db.get_usable_table_names())
db.run("SELECT * FROM actor LIMIT 10;")

postgresql
['actor', 'address', 'category', 'city', 'country', 'customer', 'film', 'film_actor', 'film_category', 'inventory', 'language', 'payment', 'rental', 'staff', 'store']

"[(1, 'Penelope', 'Guiness', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (2, 'Nick', 'Wahlberg', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (3, 'Ed', 'Chase', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (4, 'Jennifer', 'Davis', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (5, 'Johnny', 'Lollobrigida', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (6, 'Bette', 'Nicholson', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (7, 'Grace', 'Mostel', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (8, 'Matthew', 'Johansson', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (9, 'Joe', 'Swank', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (10, 'Christian', 'Gable', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))]"

In [5]:
from langchain_community.agent_toolkits import create_sql_agent
from langchain_openai import ChatOpenAI
import streamlit as st
llm = ChatOpenAI(model="gpt-3.5-turbo", temperature=0,api_key=st.secrets["OPENAI_API_KEY"])
agent_executor = create_sql_agent(llm, db=db, agent_type="openai-tools", verbose=True)

In [9]:
agent_executor.invoke(
    "Describe the data that is available, what insights can be gathered?"
)

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{}`


actor, address, category, city, country, customer, film, film_actor, film_category, inventory, language, payment, rental, staff, store
Invoking: `sql_db_schema` with `{'table_names': 'film'}`



CREATE TABLE film (
	film_id SERIAL NOT NULL,
	title VARCHAR(255) NOT NULL,
	description TEXT,
	release_year year,
	language_id SMALLINT NOT NULL,
	rental_duration SMALLINT DEFAULT 3 NOT NULL,
	rental_rate NUMERIC(4, 2) DEFAULT 4.99 NOT NULL,
	length SMALLINT,
	replacement_cost NUMERIC(5, 2) DEFAULT 19.99 NOT NULL,
	rating mpaa_rating DEFAULT 'G'::mpaa_rating,
	last_update TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL,
	special_features TEXT[],
	fulltext TSVECTOR NOT NULL,
	CONSTRAINT film_pkey PRIMARY KEY (film_id),
	CONSTRAINT film_language_id_fkey FOREIGN KEY(language_id) REFERENCES language (language_id) ON DELETE RESTRICT ON UPDATE CASCADE
)

/*
3 rows from film table:
film_id	title	description	release_year	language_id	rental_duration	rental_rate	length	replacement_cost	rating	last_update	special_features	fulltext
133	Chamber Italian	A Fateful Reflection of a Moose And a Husband who must Overcome a Monkey in Nigeria	2006	1	7	4.99	117	14.99	NC-17	2013-05-26 14:50:58.951000	['Trailers']	'chamber':1 'fate':4 'husband':11 'italian':2 'monkey':16 'moos':8 'must':13 'nigeria':18 'overcom':
384	Grosse Wonderful	A Epic Drama of a Cat And a Explorer who must Redeem a Moose in Australia	2006	1	5	4.99	49	19.99	R	2013-05-26 14:50:58.951000	['Behind the Scenes']	'australia':18 'cat':8 'drama':5 'epic':4 'explor':11 'gross':1 'moos':16 'must':13 'redeem':14 'won
8	Airport Pollock	A Epic Tale of a Moose And a Girl who must Confront a Monkey in Ancient India	2006	1	6	4.99	54	15.99	R	2013-05-26 14:50:58.951000	['Trailers']	'airport':1 'ancient':18 'confront':14 'epic':4 'girl':11 'india':19 'monkey':16 'moos':8 'must':13
*/
Invoking: `sql_db_schema` with `{'table_names': 'customer'}`



CREATE TABLE customer (
	customer_id SERIAL NOT NULL,
	store_id SMALLINT NOT NULL,
	first_name VARCHAR(45) NOT NULL,
	last_name VARCHAR(45) NOT NULL,
	email VARCHAR(50),
	address_id SMALLINT NOT NULL,
	activebool BOOLEAN DEFAULT true NOT NULL,
	create_date DATE DEFAULT ('now'::text)::date NOT NULL,
	last_update TIMESTAMP WITHOUT TIME ZONE DEFAULT now(),
	active INTEGER,
	CONSTRAINT customer_pkey PRIMARY KEY (customer_id),
	CONSTRAINT customer_address_id_fkey FOREIGN KEY(address_id) REFERENCES address (address_id) ON DELETE RESTRICT ON UPDATE CASCADE
)

/*
3 rows from customer table:
customer_id	store_id	first_name	last_name	email	address_id	activebool	create_date	last_update	active
524	1	Jared	Ely	jared.ely@sakilacustomer.org	530	True	2006-02-14	2013-05-26 14:49:45.738000	1
1	1	Mary	Smith	mary.smith@sakilacustomer.org	5	True	2006-02-14	2013-05-26 14:49:45.738000	1
2	1	Patricia	Johnson	patricia.johnson@sakilacustomer.org	6	True	2006-02-14	2013-05-26 14:49:45.738000	1
*/The database contains tables such as `film` and `customer`.

From the `film` table, we can gather insights about movies such as their titles, descriptions, release years, rental rates, and ratings. For example, we have movies like "Chamber Italian", "Grosse Wonderful", and "Airport Pollock" in the database.

From the `customer` table, we can gather insights about customers such as their first names, last names, emails, and creation dates. For example, we have customers like Jared Ely, Mary Smith, and Patricia Johnson in the database.

If you have any specific questions or queries in mind, feel free to ask!

> Finished chain.

{'input': 'Describe the data that is available, what insights can be gathered?',
 'output': 'The database contains tables such as `film` and `customer`. \n\nFrom the `film` table, we can gather insights about movies such as their titles, descriptions, release years, rental rates, and ratings. For example, we have movies like "Chamber Italian", "Grosse Wonderful", and "Airport Pollock" in the database.\n\nFrom the `customer` table, we can gather insights about customers such as their first names, last names, emails, and creation dates. For example, we have customers like Jared Ely, Mary Smith, and Patricia Johnson in the database.\n\nIf you have any specific questions or queries in mind, feel free to ask!'}